
header {
    background-color: #004d40;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 6.3rem;
    text-align: center;
    padding: .5em;
}

.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dde2c6;
    padding-left: 5em;
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }

.references {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    font-size: 1.25em;
    font-family: 'Courier New', monospace;
}

.links {
    float: left;
  }
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #abb095;
    text-decoration: underline;
  }
li a:active {
    color: white;
}
nav a[aria-current=page]{
    color: #F98948;
    border: 3px solid #F98948;
}
nav a[aria-current=page]:active{
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4rem;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3rem;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}
p {
      font-family: 'Courier New', monospace;
      font-size: 2rem;
}
section {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
}

.visuallyHidden {
    display: none;
}

.aside {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    padding-top: 500px;
    width: 20rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffba76;
    padding-top: 20px;
  }
.aside h2 {
    padding-left: 5rem;
}
aside ul {
    list-style-type: none;
    font-size: 2rem;
}  
footer {
    background-color: #004d40;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 6.3rem;
    text-align: center;
    padding: 20px;
}